<style>
    .body{
        background-color: grey;
      }
    .box{
        border: solid;
        border-radius: 5px;
        border-color: white;
        border-width:2mm;
        background-color: #A67B5B;
        margin-left: auto; 
        margin-right: auto;
        padding: 100px;
      }
      .header2{
        border-radius: 5px;
        border-color: white;
        background-color: #A67B5B;
        text-align: center;
        color: black;
        margin-bottom: 100px;
        border-style: solid;
        border-width: 2mm;
        padding: 30px 0px;
      }
      .menu {
        list-style-type: none;
        width: 2cm;
      }
      .inbox{
          display: inline;
      }
</style>


<h2 class="header2">Messages Recieved</h1>
<body class="body">
<div>

    <ul class="menu">
    <li class='inbox'>
        <%= link_to "inbox", user_inbox_path(current_user), class: 'btn btn-custom-color'%>
    </li>

    <li class='inbox'>
        <%= link_to "outbox", user_outbox_path(current_user), class: 'btn btn-custom-color'%>
    </li>

    </ul>
</div>

<% if @inbox==true%>
    <% if @messages_received=="no messages received"%>
        <table class="table box table-striped table-hover">

        <thead class="box table thead-dark">
            <tr>
            <th>sent from</th>
            <th>message</th>
            </tr>
        </thead>

        <tbody>
            <tr>
                <td>N/A</td>
                <td>N/A</td>
            </tr>
        </tbody>

        </table>
    <% else %>
        <table class="table box table-striped table-hover">

        <thead class="box table">
            <tr>
            <th>sent from</th>
            <th>message</th>
            </tr>
        </thead>

        <tbody>
                <% @messages_received.each do |message| %>
                <tr>
                    <td><%= message.sender_user_name %></td>
                    <td><%= message.content %></td>
                </tr>
                <% end %>
        </tbody>

        </table>
    <%end%>

<%else%>
    <% if @messages_sent=="no messages sent"%>
        <table class="table box table-striped table-hover">

        <thead class="box table thead-dark">
            <tr>
            <th>sender email</th>
            <th>sender name</th>
            <th>message</th>
            </tr>
        </thead>

        <tbody>
            <tr>
                <td>N/A</td>
                <td>N/A</td>
                <td>N/A</td>
            </tr>
        </tbody>

        </table>
    <% else %>
        <table class="table box table-striped table-hover">

        <thead class="box table thead-dark">
            <tr>
            <th>sent to</th>
            <th>message</th>
            </tr>
        </thead>

        <tbody>
                <% @messages_sent.each do |message| %>
                <tr>
                    <td><%= message.receiver_user_name %></td>
                    <td><%= message.content %></td>
                </tr>
                <% end %>
        </tbody>

        </table>
    <%end%>
<% end %>

</body>