<p>  
    <%= @devices.deviceType %><br>
    <%= @devices.brand %><br>
    <%= @devices.model %><br>
    <%= @devices.damage %><br>
    <%= @devices.extra %><br>
    <%= @devices.consultationAvailability %>
</p>