<!--this is how to comment -->
<!--I added a styling block for customization purposes. Padding 
adds whitespace around the "block" so the sign-in link has 10 pixels of padding all around it. You are welcome to delete it,
I just did not want the buttons to be touching.You can add centering styles as well using
the same way I added to the "sign_in block"-->

<!-- within this style block you can add formatting to the diffeent blocks
go to https://www.w3schools.com/Css/css_align.asp to learn what about alignment
 but there are tons of other tutorials on there too for other things -->

<!-- the class=" " that I added to the div blocks are names for the blocks. You can use
    the names within the <style>...</style> section to add css to those blocks-->

<style>
     .body{
        background-color: grey;
      }

    .header2{
        border-radius: 5px;
        border-color: white;
        background-color: #A67B5B;
        text-align: center;
        color: black;
        margin-bottom: 100px;
        border-style: solid;
        border-width: 2mm;
        padding: 30px 0px;
      }

      .box{
        border: solid;
        border-radius: 5px;
        border-color: white;
        border-width:3mm;
        background-color: #A67B5B;
        margin-left: auto; 
        margin-right: auto;
        padding: 100px;
      }
</style>
<head>
</head>

<body class="body">

<h2 class="header2">Welcome to We Fix It!</h2>

    <ul class="box">

        <% if user_signed_in? %>
            Hello, <%= current_user.full_name%>
            <p></p>
            <%= link_to 'Set up Consultation', new_user_device(@user), class: 'btn btn-primary btn-sm'%>
            <p></p>
            <%= link_to 'Look at devices submitted', user_devices_path, class: 'btn btn-primary btn-sm'%>
            <p></p>
            <%= link_to 'edit profile', edit_user_registration_path, class: 'btn btn-primary btn-sm'%>
            <p></p>
            <%= link_to 'Sign out', destroy_user_session_path, method: :delete, class: 'btn btn-primary btn-sm' %>

        <% else %>
            <li>What is We Fix It?</li>
            <p></p>
            I'm glad you asked! We are a shop that fixes phones and laptop from a wide varity of damages.
            We have top of the line experts that are able to fix just about anything!
            <p></p>
            <li>How can I set up an appointment?</li>
            <p></p>
            First we require you to sign up or be logged in that way you can fill out a form that tells us 
            all about your device and to schedule a free consultation. Once submitted, you'll be able to keep track of your device and 
            check how the repair is going or to check when your consultation date is.
            <p></p>
            <li>How can I sign up?</li>
            <p></p>
            Easy! Just click on the box below!
            <p></p>
            <div class="sign_up">
                <%= link_to 'Sign Up', new_user_registration_path, class: 'btn btn-primary btn-sm' %>
            </div>
            <p></p>
            Already signed up? Click below to sign in!
            <p></p>
            <div class="sign_in">
                <%= link_to 'Sign In', new_user_session_path, class: 'btn btn-primary btn-sm' %>
            </div>

        <% end %>
        
    </p>
