<style>
     .body{
        background-color: grey;
      }

    .header2{
        border-radius: 5px;
        border-color: white;
        background-color: #A67B5B;
        text-align: center;
        color: black;
        margin-bottom: 100px;
        border-style: solid;
        border-width: 2mm;
        padding: 30px 0px;
      }

      .box{
        border: solid;
        border-radius: 5px;
        border-color: white;
        border-width:3mm;
        background-color: #A67B5B;
        margin-left: auto; 
        margin-right: auto;
        padding: 100px;
      }
      .paragraph{
        border-radius: 5px;
        border-color: white;
        background-color: #A67B5B;
        text-align: center;
        color: black;
        margin-bottom: 100px;
        border-style: solid;
        border-width: 2mm;
        padding: 30px 0px;
      }
</style>

<h1 class = "header2">Profile</h1>
<body class = "body">

    <p class = paragraph>
        <% if user_signed_in? %>
            Email: <%= @user.email %> <br>
            First Name: <%= @user.first_name %><br>
            Last name: <%= @user.last_name %><br>
            Address: <%= @user.address %><br>
            City: <%= @user.city %><br>
            State: <%= @user.state %><br>
            Zip: <%= @user.zip_code %><br>
            Phone: <%= @user.phone_number %> <br>

            <%= link_to "Message Inbox", user_inbox_path(current_user), class: 'btn btn-custom-color'%>

            <% if current_user.is_admin == true %>
                <%= link_to "Customer Registry", user_list_path, class: 'btn btn-custom-color' %>
            <% else %>
                <%= link_to 'Look at devices submitted', user_devices_path(current_user), class: 'btn btn-custom-color'%>
            <% end %>
        <% end %>



    </p>
</body>